[submodule "FdF"]
	path = FdF
	url = https://github.com/Zsolt42/FdF.git
[submodule "ft_Printf"]
	path = ft_Printf
	url = https://github.com/Zsolt42/Printf.git
[submodule "Pipex"]
	path = Pipex
	url = https://github.com/Zsolt42/Pipex.git
[submodule "Libft"]
	path = Libft
	url = https://github.com/Zsolt42/Libft.git
[submodule "Get_Next_Line"]
	path = Get_Next_Line
	url = https://github.com/Zsolt42/GNL.git
